{
  "parser": "babel-eslint",
  "extends": ["eslint:recommended", "plugin:react/recommended", "airbnb"],
  "plugins": ["jsx-a11y", "import"],
  "settings": {
    "import/resolver": {
      "alias": [["@/components", "./src/components"], ["@/libs", "./src/libs"]],
      "node": {
        "paths": ["./src"]
      }
    }
  },
  "rules": {
    "import/prefer-default-export": "off",
    "comma-dangle": ["error", "never"],
    "semi": ["error", "never"],
    "arrow-body-style": "off",
    "react/prop-types": "off",
    "react/jsx-props-no-spreading": "off",
    "jsx-a11y/no-static-element-interactions": "off",
    "jsx-a11y/click-events-have-key-events": "off",
    "implicit-arrow-linebreak": "off",
    "function-paren-newline": "off",
    "object-curly-newline": "off",
    "no-nested-ternary": "off",
    "no-console": "off",
    "react/no-array-index-key": "off",
    "no-confusing-arrow": "off"
  }
}
